<footer class="footer mt-20">
    <div class="container">
        <nav class="footer-nav">
            <a target="_blank" href="#">关于anoldcd</a>
            <span class="pipe">|</span>
            <a target="_blank" href="#">软件著作权</a>
            <span class="pipe">|</span>
            <a target="_blank" href="#">非盈利平台</a>
        </nav>
        <p>Copyright &copy;2013-2016 anoldcd.com All Rights Reserved. <a href="http://www.anoldcd.com" title="用音乐沟通彼此">www.anoldcd.com</a>
        </p>
    </div>
</footer>